#cover {
    display: flex;
    flex-direction: column;
    background-color: #fff835;
    height: 100vh;
    position: relative;
}

#cover header {
    padding: 0px 2em;
}

#cover main p:last-child {
    margin: 2em 0px;
    text-align: center;
}

#disclaimer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff835;
}
