@import url('/statics/css/Game.css');
@import url('/statics/css/Cover.css');

html, body {
    margin: 0;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-weight: 17px;
    line-height: 1.7;
}

ul {
    padding: 0px;
    list-style: none;
}

.centered {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text {
    width: 500px;
    margin: 3em auto auto;
}

button.button {
    background: #ffffff00;
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    font-size: 1.2em;
    color: white;
    padding: .8em;
    cursor: pointer;
    transition: background 300ms;
}

button.button.black {
    background: #00000000;
    color: black;
}

button.button:hover {
    background: #ffffff55;
}

button.button.black:hover {
    background: #00000033;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .text {
        width: 300px;
    }

    button.button {
        width: 150px;
    }
}
