#game {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#coverMap {
    width: 100%;
}

.game-cover {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--vh-dark-blue);
}

.game-cover .logo {
    position: absolute;
    top: 2.5em;
    right: 3.5em;
    width: 230px;
    height: auto;
}

.game-cover__loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    flex: 1;
}

.game-cover__menu-wrapper {
    color: white;
    height: 100%;
    display: flex;
    flex: 1;
}

.game-cover__menu {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 530px;
}

@media screen and (max-height: 800px), screen and (max-width: 1000px) {
    .game-cover__menu {
        width: 400px;
    }
}

.game-cover__map {
    flex: 1;
    height: 100%;
    margin-right: 3em;
    display: flex;
    align-items: center;
}

.game-cover__menu .instructions {
    font-size: 0.85em;
    line-height: 1.1;
}

.game-cover__menu .instructions .bold {
    font-weight: bold;
    line-height: 1.2;
}

.game-cover__menu .instructions h5 {
    text-align: center;
}

.game-cover__menu .instructions .controls {
    border: 1px solid white;
    border-radius: 8px;
    padding: .7em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-rows: 150px 20px 130px 20px 130px;
}

@media screen and (max-height: 800px), screen and (max-width: 1000px) {
    .game-cover__menu .instructions h5,
    .game-cover__menu .instructions .controls {
        display: none;
    }
}

.game-cover__menu .instructions .controls p {
    margin: 0;
    text-align: center;
    font-size: .9em;
    height: 50px;
    padding: 0 .2em;
}

.game-cover__menu .instructions .controls .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.game-cover__menu .instructions .controls label {
    text-align: center;
    font-weight: 500;
}

.game-cover__menu .instructions .controls .icon img {
    height: 80px;
    width: auto;
}

.game-cover__menu .instructions .control img {
    filter: invert(1);
}

.game-cover__menu .instructions .control.move {
    grid-column: 1 / 3;
    grid-row: 1;
}

.game-cover__menu .instructions .control.move .icon {
    display: flex;
    justify-content: space-around;
}

.game-cover__menu .instructions .control.action {
    grid-column: 3;
    grid-row: 1;
}

.game-cover__menu .instructions label.general {
    grid-column: 1 / 4;
    grid-row: 2;
}

.game-cover__menu .instructions .control.map {
    grid-column: 1 / 2;
    grid-row: 3;
}

.game-cover__menu .instructions .control.menu {
    grid-column: 2 / 3;
    grid-row: 3;
}

.game-cover__menu .instructions .control.help {
    grid-column: 3 / 4;
    grid-row: 3;
}

.game-cover__menu .instructions .control.action .icon img,
.game-cover__menu .instructions .control.menu .icon img {
    height: 70px;
}

.game-cover__menu .instructions .control.map .icon img,
.game-cover__menu .instructions .control.help .icon img {
    height: 60px;
}

.game-cover__menu .instructions label.map {
    grid-column: 1 / 4;
    grid-row: 4;
}

.game-cover__menu .instructions .control.orbit {
    grid-column: 1 / 2;
    grid-row: 5;
}

.game-cover__menu .instructions .control.pan {
    grid-column: 2 / 3;
    grid-row: 5;
}

.game-cover__menu .instructions .control.zoom {
    grid-column: 3 / 4;
    grid-row: 5;
}

.game-cover__menu .instructions .control.orbit .icon,
.game-cover__menu .instructions .control.pan .icon,
.game-cover__menu .instructions .control.zoom .icon {
    margin: .5em 0;
}

.game-cover__menu .menu-title {
    margin-bottom: 0px;
}

.game-cover__menu .menu-list {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.game-cover__menu ul li {
    padding: .3em .6em;
}

.game-cover__menu ul li .button {
    width: 160px;
    padding: .4em;
}

.game-cover__show-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
}

.game-cover__show-info h2 {
    padding-top: 3em;
    color: black;
}

.game-cover__show-info .carousel {
    overflow: hidden;
    flex: 1;
    width: 80vw;
    max-width: 900px;
}

.game-cover__show-info .button {
    color: black;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .game-cover__menu-wrapper {
        padding: 1em .5em;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .game-cover__map {
        margin-right: 1em;
        margin-left: 1em;
    }

    .game-cover__menu {
        width: 100%;
    }
}

#canvas, #coverMap {
    display: block;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#98c8f6), color-stop(0.4, #cbebff), to(#f0f9ff));
    background: linear-gradient(to bottom, #98c8f6 0%,#cbebff 60%,#f0f9ff 100%);
}

#canvas {
    height: 100%;
}

.is-touch-unlocker {
    position: absolute;
    z-index: 50;
    right: 20px;
    top: 20px;
}

.is-touch-unlocker:after {
    content: "X";
    width: 30px;
    height: 35px;
    font-size: 1.8em;
    line-height: 37px;
    text-align: center;
    text-shadow: 0px 0px 3px #000000cc;
    color: #fff;
}

.game-aside,
.controls-highlights {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.game-aside {
    bottom: 0px;
    width: 150px;
    height: min-content;
    display: flex;
    align-items: center;
}

.game-aside.left ul.centered {
    background-color: #fff6;
    border-radius: 10px;
    padding: 1em 0 2em;
    box-shadow: 0px 0px 10px #0005;
}

.game-aside.right {
    left: unset;
    right: 0px;
    height: 100%;
}

.controls-highlights {
    right: 0px;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.controls-highlights.hidden {
    opacity: 0;
}

.controls-highlights ul {
    display: flex;
    box-shadow: 0px 0px 10px #0005;
}

.controls-highlights ul li {
    background-color: #fff6;
}

.controls-highlights ul li:first-child {
    padding-left: 2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.controls-highlights ul li:last-child {
    padding-right: 2em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.game-aside .icon,
.controls-highlights .icon {
    width: 100px;
    height: 200px;
    padding-top: 105px;
    margin: 0px 1em;
    background-size: 66.6%;
    background-position-x: 50%;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

.game-aside .icon {
    width: 75px;
    height: 100px;
    padding-top: 60px;
}

.game-aside .icon p,
.controls-highlights .icon p {
    line-height: 1;
    font-size: .9em;
}

.controls-highlights .movement .icon {
    background-image: url('/static/images/arrows-icon.svg');
    background-size: 80%;
}

.controls-highlights .camera .icon {
    background-image: url('/static/images/mouse-icon.svg');
}

.controls-highlights .orbit .icon {
    background-image: url('/static/images/left-click-icon.svg');
}

.controls-highlights .pan .icon {
    background-image: url('/static/images/right-click-icon.svg');
}

.controls-highlights .zoom .icon {
    background-image: url('/static/images/zoom-icon.svg');
}

.controls-highlights .click .icon {
    background-image: url('/static/images/action-icon.svg');
}

.controls-highlights .jump .icon {
    background-image: url('/static/images/space-icon.svg');
    background-size: 80%;
}

.controls-highlights .enter .icon {
    background-image: url('/static/images/enter-icon.svg');
}

.game-aside .escape .icon {
    background-image: url('/static/images/esc-icon.svg');
    background-size: 80%;
}

.game-aside .map .icon {
    background-image: url('/static/images/map-icon.svg');
}

.game-aside .help .icon {
    background-image: url('/static/images/help-icon.svg');
}

.done-modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: min-content;
    max-height: 90%;
    background-color: #0429be88;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0005;
    opacity: 0;
    transition: opacity .4s ease-in;
    color: white;
    display: flex;
    font-size: 1.2em;
    padding: 1em 2em 2em;
}

.done-modal.visible {
    opacity: 1;
}

@media screen and (max-height: 900px), screen and (max-width: 1200px) {
    .done-modal {
        font-size: 1.1em;
    }
}

@media screen and (max-height: 800px), screen and (max-width: 1000px) {
    .done-modal {
        font-size: 1em;
    }
}

.done-modal .form {
    height: 100%;
    flex: 1;
}

.done-modal .fieldset {
    border: none;
}

.done-modal p label {
    display: block;
    margin: .5em 0;
}

.done-modal p input,
.done-modal p textarea {
    padding: 0.4em .8em;
    font-size: 1em;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #fffd;
    width: 100%;
}

.done-modal p textarea {
    height: 200px;
    resize: none;
}

@media screen and (max-height: 900px), screen and (max-width: 1200px) {
    .done-modal p textarea {
        height: 150px;
    }
}

@media screen and (max-height: 800px), screen and (max-width: 1000px) {
    .done-modal p textarea {
        height: 100px;
    }
}

.done-modal p a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.done-modal p .button {
    font-size: 1em;
    padding: .4em;
    width: 200px;
    border: none;
    background-color: #283583;
    box-shadow: 0px 0px 4px #fff5;
}

.done-modal__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.2em;
    padding-left: 1.5em;
}

@media screen and (max-height: 700px), screen and (max-width: 800px) {
    .done-modal__image {
        display: none;
    }
}

.done-modal__image .img-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.done-modal__image img {
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    background: gray;
}

.done-modal__image .img-wrapper .image-radio {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.image-radio .radio-btn {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #fff8;
    cursor: pointer;
}

.image-radio .radio-btn.active {
    background-color: white;
}

.image-radio .radio-btn:not(:first-child) {
    margin-left: 1em;
}

.done-modal .restart-btn {
    width: 100%;
    padding: .3em;
    outline: none;
    display: block;
}

@media screen and (min-height: 700px) and (min-width: 800px) {
    .done-modal .fieldset .restart-btn {
        display: none;
    }
}
